<div ng-init="loadOrders()">
<!--      <div ui-grid="gridOptionsOpenOrder" class="grid" ui-grid-selection ui-grid-resize-columns></div> -->
</div>

<table class="table table-condensed table-responsive table-hover">
    <thead>
        <tr>
            <th colspan="1">Symbol</th>
            <th colspan="1">Price</th>
            <th colspan="1">Units</th>
            <th colspan="1">Total</th>
            <th colspan="1">Type</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <!-- This can be added to the tbody repeat below to create a highlight-on-click: ng-class="{'highlightSelectedRow':$index == selectedOrderRow}" -->
    <tbody data-ng-repeat='item in orders' class="list" ng-click="showOrderDetail();">
        <tr>
            <td>
                <a href="#/showsymbol/{{item.ticker}}" ui-sref="showsymbol({symbolID: item.ticker})" class="span2" ng-bind="item.ticker"></a>
                <img ng-src="{{getFlagForFirstCurrency(item.ticker)}}">
                <img ng-src="{{getFlagForSecondCurrency(item.ticker)}}">
            </td>
            <td class="span2">{{item.price}}</td>
            <td class="span2">{{item.currencyAmountToBuy}}</td>
            <td class="span2">{{item.price * item.currencyAmountToBuy | currency}}</td>
            <td class="span2">{{item.orderType}}</td>
        </tr>
    </tbody>
</table>
    