<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#watchlist" class="navbar-brand" ui-sref="watchlist">
                <span class="fa fa-home" aria-hidden="true"></span> Watchlist
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menubar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#balance" class="hidden-xs" ui-sref="balance">
                        <span class="fa fa-balance-scale" aria-hidden="true"></span> Balance
                    </a>
                    <a href="#balance" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-balance-scale" aria-hidden="true"></span> Balance
                    </a>
                </li>
                <li>
                    <a href="#openorders" class="hidden-xs" ui-sref="openorders">
                        <span class="fa fa-tasks" aria-hidden="true"></span> Open Orders
                    </a>
                    <a href="#openorders" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-tasks" aria-hidden="true"></span> Open Orders
                    </a>
                </li>
                <li>
                    <a href="#pendingorders" class="hidden-xs" ui-sref="pendingorders">
                        <span class="fa fa-legal" aria-hidden="true"></span> Pending Orders
                    </a>
                    <a href="#pendingorders" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-legal" aria-hidden="true"></span> Pending Orders
                    </a>

                </li>
                <li>
                    <a href="#notifications" class="hidden-xs" ui-sref="notifications">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Notifications
                    </a>
                    <a href="#notifications" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Notifications
                    </a>
                </li>
                <li>
                    <a href="#news" class="hidden-xs" ui-sref="news">
                        <span class="fa fa-newspaper-o" aria-hidden="true"></span> News
                    </a>
                    <a href="#news" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-newspaper-o" aria-hidden="true"></span> News
                    </a>
                </li>
            </ul>

            <!--Search box-->
            <form class="navbar-form" role="search" ng-submit="handleSearchSymbolSubmit()">
                <div class="InputAddOn">
                    <button type="submit" class="btn InputAddOn-item">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <input type="text" ng-model="data.symbolToSearch" class="InputAddOn-field form-control" maxlength="10" placeholder="Search Symbol">
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>