<div>
    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr>
          <th colspan="4">News</th>
        </tr>
      </thead>
      <tbody data-ng-repeat="item in news.rss.channel[0].item" class="list">
        <tr>
          <td><h4><a href={{item.link[0]}}>{{item.title[0]}}</a></h4> Posted: {{item.pubDate[0]}}</td>
         </tr>
         <tr>
          <td>{{item.description[0].substring(0,item.description[0].indexOf('<'))}}...<a href={{item.link[0]}}>More</a></td>
         </tr>
      </tbody>
    </table>
</div>
{{news}}