<div ng-controller="quantumCtrl" ng-init="loadQuantumFXOrders();loadQuantumACOrders();showQTFXOrders = false;showQTACOrders = false;" class="row">
  <div class="col-xs-12 col-md-12">
    <!--    <div class="row center-block col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->

    <!-- Show the FX order -->
    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr>
          <th colspan="2" class="text-center bg-primary">
            Order detail for order: {{orderID}}
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="item in orders | filter:{ _id: orderID }:true track by $index" class="list">
        <tr>
          <td colspan="2" class="text-muted text-center">All figures in HKD
            <img ng-src="{{getFlagForFirstCurrency('HKD')}}">
          </td>
        </tr>
        <tr>
          <td>Symbol</td>
          <td class="span2">{{item.ticker}}
            <img ng-src="{{getFlagForFirstCurrency(item.ticker)}}">
            <img ng-src="{{getFlagForSecondCurrency(item.ticker)}}">
          </td>
        </tr>
        <tr>
          <td>Order ID</td>
          <td class="span2">{{item._id}}</td>
        </tr>
        <tr>
          <td>Order Type</td>
          <td class="span2">{{item.orderType}}</td>
        </tr>
        <tr>
          <td>Order Date</td>
          <td class="span2">{{item.orderDate | date:"dd-MMM-yy HH:mm:ss"}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td class="span2">{{item.price}}</td>
        </tr>
        <tr>
          <td>Units</td>
          <td class="span2">{{item.currencyAmountToBuy}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="span2">{{item.price * item.currencyAmountToBuy | currency}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Show the matching Quantum FX order -->
    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr ng-click="showQTFXOrders = !showQTFXOrders">
          <th colspan="2" class="text-center text-primary">
            Quantum FX Order
            <span class="fa fa-chevron-down" aria-hidden="true" ng-if="showQTFXOrders"></span>
            <span class="fa fa-chevron-right" aria-hidden="true" ng-if="!showQTFXOrders"></span>
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="item in quantumFXOrders | filter:{ DM2FXDealID: orderID }:true track by $index" class="list" ng-if="showQTFXOrders">
        <tr>
          <td>Symbol</td>
          <td class="span2">{{item.BuyCurr + item.SellCurr}}
            <img ng-src="{{getFlagForFirstCurrency(item.BuyCurr + item.SellCurr)}}">
            <img ng-src="{{getFlagForSecondCurrency(item.BuyCurr + item.SellCurr)}}">
          </td>
        </tr>
        <tr>
          <td>Quantum ID</td>
          <td class="span2">{{item.ExternalDealSetID}}</td>
        </tr>
        <tr>
          <td>Instrument</td>
          <td class="span2">{{item.DealInstrument}}</td>
        </tr>
        <tr>
          <td>Spot Rate</td>
          <td class="span2">{{item.SpotRate}}</td>
        </tr>
        <tr>
          <td>Units</td>
          <td class="span2">{{item.BuyAmount}}</td>
        </tr>
        <tr>
          <td>Date Created</td>
          <td class="span2">{{item.Created}}</td>
        </tr>
        <tr>
          <td>Deal Date</td>
          <td class="span2">{{item.DealDate}}</td>
        </tr>
        <tr>
          <td>Maturity Date</td>
          <td class="span2">{{item.MaturityDate}}</td>
        </tr>
        <tr>
          <td>Value Date</td>
          <td class="span2">{{item.ValueDate}}</td>
        </tr>
        <tr>
          <td>Business Unit</td>
          <td class="span2">{{item.BUnitName}}</td>
        </tr>
        <tr>
          <td>Dealer</td>
          <td class="span2">{{item.DealerName}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="span2">{{item.BuyAmount * item.SpotRate | currency}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Show the matching Quantum AC orders -->
    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr ng-click="showQTACOrders = !showQTACOrders">
          <th colspan="2" class="text-center text-primary">
            Quantum AC Orders
            <span class="fa fa-chevron-down" aria-hidden="true" ng-if="showQTACOrders"></span>
            <span class="fa fa-chevron-right" aria-hidden="true" ng-if="!showQTACOrders"></span>
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="item in quantumACOrders | filter:{ DM2ACDealID: orderID }:true track by $index" class="list" ng-if="showQTACOrders">
        <tr ng-if="$index == 0">
          <td colspan="2" class="text-muted text-center">Actual Cashflow for Inflow</td>
        </tr>
        <tr ng-if="$index == 1">
          <td colspan="2" class="text-muted text-center">Actual Cashflow for Outflow</td>
        </tr>
        <tr>
          <td>Currency</td>
          <td class="span2">{{item.Curr}}
            <img ng-src="{{getFlagForFirstCurrency(item.Curr)}}">
          </td>
        </tr>
        <tr>
          <td>Quantum ID</td>
          <td class="span2">{{item.ExternalDealSetID}}</td>
        </tr>
        <tr>
          <td>Instrument</td>
          <td class="span2">{{item.DealInstrument}}</td>
        </tr>
        <tr>
          <td>Settlement Method</td>
          <td class="span2">{{item.SettlementMethod}}</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td class="span2">{{item.Amount}}</td>
        </tr>
        <tr>
          <td>Date Created</td>
          <td class="span2">{{item.Created}}</td>
        </tr>
        <tr>
          <td>Deal Date</td>
          <td class="span2">{{item.DealDate}}</td>
        </tr>
        <tr>
          <td>Maturity Date</td>
          <td class="span2">{{item.MaturityDate}}</td>
        </tr>
        <tr>
          <td>Value Date</td>
          <td class="span2">{{item.ValueDate}}</td>
        </tr>
        <tr>
          <td>Settlement Date</td>
          <td class="span2">{{item.SettlementDate}}</td>
        </tr>
        <tr>
          <td>Business Unit</td>
          <td class="span2">{{item.BUnitName}}</td>
        </tr>
        <tr>
          <td>Business Unit Account</td>
          <td class="span2">{{item.BUnitBankAccountNo}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>