<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th colspan="1">Symbol</th>
            <th colspan="1">Price</th>
            <th colspan="1">Limit Price</th>
            <th colspan="1">Units</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody data-ng-repeat='item in pendingOrders' class="list">
        <tr>
            <td>
                <a href="#/showsymbol/{{item.ticker}}" ui-sref="showsymbol({symbolID: item.ticker})" class="span2" ng-bind="item.ticker"></a>
                <img ng-src="{{getFlagForFirstCurrency(item.ticker)}}">
                <img ng-src="{{getFlagForSecondCurrency(item.ticker)}}">
            </td>
            <td backgroundhighlighter="item.price" class="span2">{{item.price}}</td>
            <td texthighlighter="item.limitPrice" class="span2">{{item.limitPrice}}</td>
            <td texthighlighter="item.units" class="span2">{{item.currencyAmountToBuy}}</td>
            <td class="span1" rowspan="2" style="vertical-align:middle;">
                <a href class="btn btn-danger btn-xs" ng-click="removePendingOrder(item._id)">Remove</a>
            </td>
            <pre class="alert alert-success fade in" ng-bind-html="orderModalResult" ng-show="orderModalResult"></pre>
        </tr>
    </tbody>
</table>
    