<div class="row">
  <div class="col-xs-12 col-md-12">
    <!--    <div class="row center-block col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->

    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr>
          <th colspan="3">Details for {{symbolID}}
            <a href class="btn btn-success btn-xs" ng-click="addToWatchlist(symbolID)">Add to Watchlist</a>
            <a ui-sref="chart">
              <button class="btn btn-success btn-xs" ng-click="showChart(symbolID)">Chart</button>
            </a>
            <a href class="btn btn-success btn-xs" ng-click="showOrderModal(symbolID)">Place Order</a>
            <pre ng-show="orderModalResult">{{orderModalResult}}</pre>
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="item in quotes | filter:{ ticker: symbolID } track by $index" class="list">
        <tr>
          <tr>
            <td>Symbol</td>
            <td class="span2">{{item.ticker}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td highlighter="item.price" class="span2">{{item.price}}</td>
          </tr>
          <tr>
            <td>Bid</td>
            <td class="span2">{{item.bid}}</td>
          </tr>
          <tr>
            <td>Ask</td>
            <td class="span2">{{item.ask}}</td>
          </tr>
          <tr>
            <td>Rate</td>
            <td class="span2">{{item.rate}}</td>
          </tr>
          <tr>
            <td>Quote Date/Time</td>
            <td class="span2">{{item.date}} {{item.time}}</td>
          </tr>
        </tr>
      </tbody>
    </table>


  </div>
</div>