  <div>
<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script><script type="text/javascript">// <![CDATA[
new TradingView.widget({   "width": 700,   "height": 350,   "symbol": "EURUSD",   "interval": "D",   "toolbar_bg": "#E4E8EB",   "hide_side_toolbar": false,   "allow_symbol_change": true,   "watchlist": [     "EURUSD",     "GBPUSD",     "USDJPY",     "USDCHF",     "USDCAD",     "AUDUSD",     "NZDUSD",     "GBPJPY",     "EURGBP",     "EURJPY",     "FX:XAUUSD",     "FX:XAGUSD"   ],   "details": true, "hideideas": true });
// ]]&gt;</script>
</div>
