<div id="pricequotewidget">
  <script type="text/javascript" src="/scripts/controllers/tickerController.js"></script>
  <script type="text/javascript" src="/scripts/directives/priceQuoteDirective.js"></script>
  <script>
    angular.module("pricing");
  </script>


    <table class="table table-striped table-bordered table table-condensed table-responsive">
      <thead>
        <tr>
          <th colspan="4">Watchlist</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat='item in quotes | inWatchlistArray:tickerList.watchlist:"ticker" track by $index' class="list">
<!--        <tr data-ng-repeat="item in quotes track by $index" class="list"> -->
          <td><a href="#/showsymbol/{{item.ticker}}" ui-sref="showsymbol({symbolID: item.ticker})" class="span2" ng-bind="item.ticker"></a></td>
          <td highlighter="item.price" class="span2" ng-bind="item.price">{{item.price}}</td>
          <td class="span1">
            <a href class="btn btn-success btn-xs" ng-click="showOrderModal(item.ticker)">Place Order</a>
          </td>
          <td class="span1">
            <a href class="btn btn-danger btn-xs" ng-click="removeFromWatchlist(item.ticker)">Remove</a>
          </td>
          <pre class="alert alert-success fade in" ng-bind-html="orderModalResult" ng-show="orderModalResult"></pre>
        </tr>
      </tbody>
    </table>
</div>