<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" ng-controller="tickerCtrl">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="item in quotes | filter:tickerID">
          <h5>Order to buy {{item.ticker}} at {{tickerPrice}}</h5> 
        </div>

        <form class="form-horizontal" role="form" ng-submit="handleOpenOrderFormSubmit()">
          <div class="form-group">
            <label for="currencyAmountToBuy" class="col-sm-2 control-label">Currency Amount to Buy</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Currency to Buy" ng-model="order.currencyAmountToBuy">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>